body, html {
  width: 100%;
  font-family: 'Droid Sans', 'Ubuntu Sans', 'sans-serif';
  background: url('../img/grey.png') repeat;
}

.ng-cloak {
	display: none;
}

.align-right {
  text-align: right;
}

.brand {
  color: #777;
}

.center {
  text-align: center;
}

.logo.small {
  height: 30px;
}

.navbar-brand .logo {
	margin-top: -10px;
	margin-bottom: -10px;
}

.button-bar {
  padding: 10px 0;
}

.record-item {
  cursor: pointer;
}

.record {
  border-top: none;
}

.tag {
  margin-right: 2px;
}

.tags-cell ul {
  padding: 0;
  margin: 0;
}

#content {
	margin-top: 60px;
}

/* Notifications */

#notifications {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#notifications ul {
  list-style: none;
}

/* Tags Input */

tag-input {
  width: 100%;
  display: table;
}

tag-input table {
  width: 100%;
  border: none;
  padding: 0;
}

tag-input tr, tag-input td {
  border: none !important;
  padding: 0 !important;
}

tag-input table td.real-input {
  width: 100%;
  border: none !important;
  padding: 0;
}

tag-input input {
 border: none;
 margin: -2px 2px;
 padding: 0;
 width: 100%;
}

tag-input .label {
  margin-right: 6px;
}

tag-input .label .close {
 float: none;
 vertical-align: middle;
 line-height: 10px;
 font-size: 18px;
 margin-left: 2px;
}

tag-input input:focus {
 outline: none;
}

th {
	cursor: pointer;
}
