.ng-cloak {
	display: none;
}

.navbar-brand .logo {
	height: 30px;
	margin-top: -10px;
	margin-bottom: -10px;
}

body, html {
	width: 100%;
	font-family: 'Droid Sans', 'Ubuntu Sans', 'sans-serif';
  background: url('../img/grey.png') repeat;
}

#content {
	margin-top: 60px;
}

/* Notifications */

#notifications {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#notifications ul {
  list-style: none;
}

/* Tags Input */

tag-input {
  width: 100%;
  display: table;
}

tag-input table {
  width: 100%;
  border: none;
  padding: 0;
}

tag-input tr, tag-input td {
  border: none !important;
  padding: 0 !important;
}

tag-input table td.real-input {
  width: 100%;
  border: none !important;
  padding: 0;
}

tag-input input {
 border: none;
 margin: -2px 2px;
 padding: 0;
 width: 100%;
}

tag-input .label {
  margin-right: 6px;
}

tag-input .label .close {
 float: none;
 vertical-align: middle;
 line-height: 10px;
 font-size: 18px;
 margin-left: 2px;
}

tag-input input:focus {
 outline: none;
}