<div class="row ng-scope">
  <div class="col-lg-12">
    <form ng-show="showPassphraseInput" class="form-inline pull-right" role="form">
      <div class="form-group">
        <input type="password" ng-model="passphrase" class="form-control" id="passphraseInput" placeholder="{{'HOME_PAGE.YOUR_PASSPHRASE' | translate}}">
      </div>
      <a ng-click="resetPassphrase()" ng-disabled="!passphrase" download class="btn btn-default" ng-href="api/export/all?passphrase={{passphrase}}">
        <span translate="HOME_PAGE.DOWNLOAD"></span>&nbsp;
        <span class="glyphicon glyphicon-download"></span>
      </a>
    </form>
    <button ng-hide="showPassphraseInput" class="btn pull-right btn-default" ng-click="askPassphrase()">
      <span translate="HOME_PAGE.DOWNLOAD_ALL"></span>&nbsp;
      <span class="glyphicon glyphicon-download"></span>
    </button>
  </div>
</div>
<div class="row">
	<div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th>#</th>
            <th translate="HOME_PAGE.LABEL"></th>
            <th translate="HOME_PAGE.TAGS"></th>
            <th translate="HOME_PAGE.ACTIONS"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="record in records">
            <td ng-bind="$index"></td>
            <td ng-bind="record.label"></td>
            <td ng-bind="record.tags"></td>
            <td><a ng-href="#/record/{{record._id}}/view" translate="HOME_PAGE.ACTIONS_AVAILABLE"></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>