<div class="row">
  <div class="col-md-12">
    <form role="form">
      <fieldset disabled>
        <legend translate="PROFILE_PAGE.PERSONAL_INFORMATIONS"></legend>
        <div class="form-group">
          <label translate="PROFILE_PAGE.NAME"></label>
          <span class="form-control" ng-bind="user.name" placeholder="{{'PROFILE_PAGE.YOUR_NAME' | translate}}"></span>
        </div>
        <div class="form-group">
          <label translate="PROFILE_PAGE.EMAIL"></label>
          <span class="form-control" ng-bind="user.email" placeholder="{{'PROFILE_PAGE.YOUR_EMAIL' | translate}}"></span>
        </div>
        <div class="form-group">
          <label translate="PROFILE_PAGE.ROLES"></label>
          <tag-input class="form-control" ng-model="user.roles" />
        </div>
      </fieldset>

      <fieldset>
        <legend translate="PROFILE_PAGE.SETTINGS"></legend>
        <div class="form-group">
          <label for="langInput" translate="PROFILE_PAGE.UI_LANGUAGE"></label>
          <select class="form-control" ng-model="lang" id="langInput" required ng-options="l.label for l in availableLanguages track by l.key"></select>
        </div>
      </fieldset>

    </form>
  </div>
</div>