<div ng-include src="'templates/buttonbar.html'" class="row button-bar"></div>
<div class="row">
  <div class="col-md-12">
    <form role="form">

      <fieldset>
        <legend translate="PROFILE_PAGE.PERSONAL_INFORMATIONS"></legend>
        <div class="form-group">
          <label for="nameInput" translate="PROFILE_PAGE.NAME"></label>
          <input type="text" class="form-control" ng-model="user.name" id="nameInput" placeholder="{{'PROFILE_PAGE.YOUR_NAME' | translate}}">
        </div>
        <div class="form-group">
          <label for="emailInput" translate="PROFILE_PAGE.EMAIL"></label>
          <input type="email" class="form-control" ng-model="user.email" id="emailInput" placeholder="{{'PROFILE_PAGE.YOUR_EMAIL' | translate}}">
        </div>
      </fieldset>

      <fieldset>
        <legend translate="PROFILE_PAGE.SETTINGS"></legend>
        <div class="form-group">
          <label for="langInput" translate="PROFILE_PAGE.UI_LANGUAGE"></label>
          <select class="form-control" ng-model="lang" id="langInput" ng-options="lang.label for lang in availableLanguages"></select>
        </div>
      </fieldset>

      <fieldset ng-disabled="!isAdmin()">
        <legend translate="PROFILE_PAGE.ACCESS_RIGHTS"></legend>
        <div class="form-group">
          <label for="rolesInput" translate="PROFILE_PAGE.ROLES"></label>
          <tag-input type="text" class="form-control" tags-available="rolesAvailable | pluck:'name'" tags-unique="true" ng-model="user.roles" id="rolesInput" placeholder="{{'PROFILE_PAGE.ROLES' | translate}}" />
        </div>
      </fieldset>

    </form>
  </div>
</div>