<div ng-include src="'templates/buttonbar.html'" class="row button-bar"></div>
<div class="row">
  <div class="col-md-12">
    <form role="form">
      <fieldset>
        <legend translate="ROLE_PAGE.ROLE_NAME"></legend>
        <div class="form-group">
          <input ng-model="role.name" type="text" class="form-control" placeholder="{{'ROLE_PAGE.ROLE_NAME' | translate}}">
        </div>
      </fieldset>
      <fieldset>
        <legend translate="ROLE_PAGE.RECORDS_PERMISSIONS"></legend>
        <table class="table table-hover">
          <thead>
            <tr>
              <th translate="ROLE_PAGE.OPERATION"></th>
              <th translate="ROLE_PAGE.FILTER"></th>
              <th translate="ROLE_PAGE.ACTIONS"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in recordsPermissions">
              <td><span class="form-control" ng-bind="p.op | uppercase"></span></td>
              <td>
                <tag-input class="form-control" ng-change="markAsModified()" ng-model="p.tags" />
              </td>
              <td>
                <button type="button" ng-click="removePermission(p)" class="btn btn-default" aria-hidden="true">
                  <span class="glyphicon glyphicon-trash"></span>&nbsp;
                  <span translate="ROLE_PAGE.DELETE"></span>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <select class="form-control" ng-model="newPerm.op" ng-options="op for op in availableOperations"></select>
              </td>
              <td>
                <tag-input class="form-control" ng-model="newPerm.tags" />
              </td>
              <td>
                <button type="button" class="btn btn-default" ng-click="addNewPermission()" aria-hidden="true">
                  <span class="glyphicon glyphicon-plus"></span>&nbsp;
                  <span translate="ROLE_PAGE.ADD"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </fieldset>
    </form>
  </div>
</div>