<div class="row-fluid" id="login" ng-controller="LoginCtrl">
	<div class="span6 offset3" id="login-container">
		<img class="logo" src="img/thoth.svg" />
		<form class="form-horizontal">
			<div class="control-group">
		    <label class="control-label" for="loginInput">ID</label>
		    <div class="controls">
		      <input type="text" ng-model="username" id="loginInput" placeholder="Your login...">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="passwordInput">Password</label>
		    <div class="controls">
		      <input ng-model="password" type="password" id="passwordInput" placeholder="Your password...">
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <button ng-click="tryLogin(username, password)" class="btn">Login</button>
		    </div>
		  </div>
		</form>
	</div>
</div>