<div class="row-fluid">
  <h2>Recherche</h2>
</div>
<div class="row-fluid" ng-controller="SearchCtrl">
  <div class="span12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Label</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="r in records">
          <td ng-bind="$$index">0</td>
          <td ng-bind="r.label">Webpublic</td>
          <td><a ng-href="#/edit/{{r._id}}">Editer</a>
        </tr>
      </tbody>
    </table>
  </div>
</div>
