<div class="row-fluid">
  <h2>Recherche</h2>
</div>
<div class="row-fluid" ng-controller="SearchCtrl">
  <div class="span12">
	<div class="input-append">
		<input class="span9" id="appendedInputButton" type="text" ng-model="recherche" placeholder="Recherche...">
		<button class="btn" type="button" ng-click="recherche=''"><i class="icon-remove"></i></button>
	</div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Label</th>
          <th>Actions</th>
	  <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="r in records | filter:recherche">
          <td ng-bind="$$index">0</td>
          <td ng-bind="r.label">Webpublic</td>
          <td><a ng-href="#/record/{{r._id}}/view">Voir</a></td>
          <td><div class="label" ng-repeat="tag in r.tags">{{tag}}</div></td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>
