<div class="sidebar" ng-controller="SidebarCtrl" ng-hide="navState.login">
  <a href='#' class="logo title"><img src="img/thoth.svg" />THOTH<span class="sub">Keeper of secret knowledge</span></a>
  <ul>
    <li ng-class="{active: navState.home}"><a href="#/home"><i class="icon icon-home icon-white"></i> Accueil</a></li>
    <li ng-class="{active: navState.search}"><a href="#/search"><i class="icon icon-search icon-white"></i> Recherche</a></li>
    <li ng-class="{active: navState.record}"><a href="#/record/new"><i class="icon icon-plus icon-white"></i> Nouvel enregistrement</a></li>
    <li ng-class="{active: navState.profile}"><a href="#/profile"><i class="icon icon-user icon-white"></i> Profil</a></li>
    <li ng-class="{active: navState.admin}"><a href="#/admin"><i class="icon icon-wrench icon-white"></i> Administration</a></li>
  </ul>
  <ul class="pull-down">
    <li><a ng-click="logout()"><i class="icon icon-off icon-white"></i> Se déconnecter</a></li>
  </ul>
</div>